Source: hp-flash
Section: utils
Priority: optional
Maintainer: junglezoo42 <junglezoo42@mail.de>
Build-Depends: debhelper-compat (= 13), dh-exec
Standards-Version: 4.6.0
Homepage: https://ftp.ext.hp.com/pub/caps-softpaq/cmit/linuxtools/HP_LinuxTools.html
Testsuite: autopkgtest-pkg-dkms
Rules-Requires-Root: no

Package: hp-flash
Architecture: amd64 
Depends: ${misc:Depends}
Description: HP Firmware Upgrade Utility for Linux
 The hp-flash utility is designed to update the computer system 
 firmware (UEFI BIOS) from a Linux environment.
 .
 In order to use hp-flash, the hpuefi loadable kernel module 
 (driver) must be loaded (inserted) and connected to /dev/hpuefi.
